<!DOCTYPE html>
<html lang="en">

<head>

    <title>AWS Project</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <style>
    body {
        padding-top: 10px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    .center-form{
          margin-left: auto;
          margin-right: auto;
          float: none;
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AWS Project</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="/">Gallery</a></li>
          <li><a class="navbar-brand" href="createform">Add photos to gallery</a></li>
        </ul>
      </div>
    </nav>
   <div class="container">

          <div class="row">

            <p><%= keys.replace("photos/","") %></p>

<% if ( sqs ) { %>
  <p style="color:green;">Dodano do kolejki SQS.</p>
<% } else { %>
  <p style="color:red;">Błąd dodania do kolejki SQS.</p>
<% }; %>

          </div>

</body>
</html>
